* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
    background-image: url(../img/background-body.jpg);
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
    background-image: url(../img/background-body.jpg);
}

.navbar #flag {
    height: 14px;
    margin-left: 10px;
    vertical-align: unset;
}

.navbar #flag:hover {
    cursor: pointer;
}

.navbar #menu-list a {
    transition: all .5s;
}

.navbar #menu-list a:hover {
    cursor: pointer;
    color: #AA1123;
}

.navbar #menu-list a span {
    transition: all .5s;
}

.navbar #menu-list a span:hover {
    cursor: pointer;
    color: #AA1123;
}

.navbar #menu-list img {
    height: 10px;
    margin-left: 5px;
    vertical-align: unset;
}

.navbar #menu-list img:hover {
    cursor: pointer;
}

#o-nas {
    margin: 40px 0px 40px 0;
    padding: 20px;
}

#o-nas h2 {
    text-indent: 30px;
    font-weight: 600;
    color: #AA0000;
}

#o-nas p {
    text-indent: 30px;
    font-size: 16px;
    text-align: justify;
}

#o-nas .image-cont {
    margin-top: 20px;
    width: 100%;
    max-height: 35vh;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

#o-nas .image-cont img {
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
    background-image: url(../img/background-body.jpg);
}

#footer {
    position: fixed;
    background-color: #e7e7e7;
    bottom: 0px;
    width: 100%;
}

#footer .fa {
    font-size: 20px;
    line-height: 30px;
    color: #AA1123;
    margin: 10px;
    transition: all .5s;
    margin: 0px 5px;
}

#footer .fa:hover {
    cursor: pointer;
    color: black;
}

#footer p {
    margin: 10px;
    line-height: 15px;
}
