* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
    background-image: url(../img/background-body.jpg);
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
    background-image: url(../img/background-body.jpg);
}

#main-nav .navbar-header {
    min-height: 60px;
}

.navbar .navbar-brand {
    padding-top: 5px;
}

.navbar .navbar-brand img {
    height: 50px;
}

.navbar #flag-link {
    line-height: 30px;
}

.navbar #flag-link #flag {
    height: 14px;
    margin-left: 10px;
    vertical-align: unset;
}

.navbar #flag-link #flag:hover {
    cursor: pointer;
}

.navbar #menu-list a {
    transition: all .5s;
}

.navbar #menu-list a:hover {
    cursor: pointer;
    color: #AA1123;
}

.navbar #menu-list a span {
    transition: all .5s;
}

.navbar #menu-list a span:hover {
    cursor: pointer;
    color: #AA1123;
}

.navbar #menu-list .menu-link {
    line-height: 30px;
}

.navbar #menu-list img {
    height: 10px;
    margin-left: 5px;
    vertical-align: unset;
}

.navbar #menu-list img:hover {
    cursor: pointer;
}

#offer {
    margin: 40px 0px 40px 0;
    padding: 20px;
    position: relative;
}

#offer h2 {
    text-indent: 30px;
    font-weight: 600;
    color: #AA0000;
}

#offer p {
    text-indent: 30px;
    font-size: 16px;
    text-align: justify;
}

#offer h2 {
    margin-bottom: 20px;
}

#offer ul {
    margin-bottom: 50px;
    font-size: 18px;
}

#offer ul:last-of-type {
    margin-bottom: 25px;
}

#offer ul span {
    margin: 10px;
}

#offer ul .fa {
    color: #AA1123;
}

#offer ul li {
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    list-style-type: none;
}

#offer #list-image-cont {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    max-height: 150px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

#offer #list-image-cont img {
    width: 100%;
}

#offer .invisible {
    display: none;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
    background-image: url(../img/background-body.jpg);
}

#footer {
    position: fixed;
    background-color: #e7e7e7;
    bottom: 0px;
    width: 100%;
}

#footer .fa {
    font-size: 20px;
    line-height: 30px;
    color: #AA1123;
    margin: 10px;
    transition: all .5s;
    margin: 0px 5px;
}

#footer .fa:hover {
    cursor: pointer;
    color: black;
}

#footer p {
    margin: 10px;
    line-height: 15px;
}
