 @mixin header-para{
     h2 {
        text-indent: 30px;
        font-weight: 600;
        color: #AA0000;
    }

    p {
        text-indent: 30px;
        font-size: 16px;
        text-align: justify;
    }
}