#main-nav{
    .navbar-header{
        min-height: 60px;
    }
}

.navbar {
    
    
    
    .navbar-brand {

        padding-top: 5px;

        img {
            height: 50px;
        }
    }
    #flag-link {
        line-height: 30px;
        #flag {
            height: 14px;
            margin-left: 10px;
            vertical-align: unset;

            &:hover {
                cursor: pointer;

            }
        }
    }

    #menu-list {
        a {
            //            display: inline-block;
            //            overflow: hidden;
            transition: all .5s;
            &:hover {
                cursor: pointer;
                color: $color-red;
            }

            span {
                transition: all .5s;
                &:hover {
                    cursor: pointer;
                    color: $color-red;
                }
            }
        }

        .menu-link {
            line-height: 30px;
        }

        img {
            height: 10px;
            margin-left: 5px;
            vertical-align: unset;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
