@import "variables";
@import "mixins";

@media screen and (max-width: 767px) {

    #certificate {
        margin: 40px 0px 60px 0;
        .image-cont {
            width: 80%;
            left: 10%;
        }
    }

}

@media screen and (max-width: 481px) {
    #certificate {
        .image-cont {
            width: 90%;
            left: 5%;
        }
    }
}
