@import "variables";
@import "mixins";

@media screen and (max-width: 767px) {
    #background-div {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
    }
    #certificate {
        margin: 40px 0px 60px 0;
        
        .image-cont {
            width: 80%;
            left: 10%;
        }
    }
    #o-nas {
        margin: 40px 0px 60px 0;
    }
    
    * {
        h2 {
            font-size: $fonth2-small;
        }
        p{
            font-size: $fontpara-small;
        }
    }

}

@media screen and (max-width: 481px) {
    #certificate {
        .image-cont {
            width: 90%;
            left: 5%;
        }
    }
}
